﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    
</head>
<body>
    <div id="phoneGap" ng-app="finalApp">
        <div id="phoneCategories" ng-controller="phonesController">
            Filter : <input ng-model="phone" />
             <table>
                 <tr ng-repeat="item in phones | orderBy :'name' | filter :phone ">
                     <td>{{item.name}}</td><td>{{item.brand}}</td>
                     <td><a href="" ng-click="showCell(item.id)">Ver ID</a></td>
                     <td><a href="" ng-click="goDetail(item.id)" >Ver Infor</a></td>
                 </tr>
             </table>
        </div>
        <div class="ng-view" id="showDetails">
            This is the details!!
        </div>

    </div>
    <script src="app.js"></script>
    <script src="phonesController.js"></script>
</body>
</html>
