﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shop</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>  
    <script src="Scripts/angular-sanitize.min.js"></script>



    <style>
        .form-group > .error {
            color: red;
        }

        .w3-card-4 {
            margin-top: 15px !important;
        }

        .navbar-brand {
            font-size: 30px;
        }
    </style>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Tienda de Joe</a>
            </div>
            <div style="font-size: 35px;color:white;" class="pull-right">
                <span class="fa fa-cart-plus" aria-hidden="true"></span> <span class="glyphicon-class" id="spanContador">0</span>
                <a href="Log.html" class="btn btn-success navbar-btn">Historial de Compra</a>
                <a href="EditarPerfil.html" class="btn btn-info navbar-btn">Editar Perfil</a>
                <a href="Login.html" class="btn btn-danger navbar-btn">Cerrar Sesión</a>
            </div>

        </div>
    </nav>
    <div class="container">
        
        <div class="row" >
            <div id="phoneGap" ng-app="logApp">
                <div id="phoneCategories" ng-controller="logController">
                    <table class="table"  style="margin-top:150px;">
                       <tr>
                           <th>
                               Correo
                           </th>
                           <th>
                               Total
                           </th>
                           <th>
                               Fechas
                           </th>
                       </tr>
                        <tr ng-repeat="item in phones | orderBy :'name' | filter :phone ">
                            <td>{{item.mail}}</td>
                            <td>{{item.total}}</td>
                            <td>{{item.date}}</td>
                            
                        </tr>
                    </table>
                </div>
                

            </div>
        </div>

    </div>


    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.4.4.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.js"></script>
   
    <script type="text/javascript">
        $("#btnRegistro").click(function () {
            $.validator.addMethod("valueNotEquals", function (value, element, arg) {
                return arg != value;
            }, "Value must not equal arg.");


            $("#formRegistro").validate({

                // Specify validation rules
                rules: {
                    // The key name on the left side is the name attribute
                    // of an input field. Validation rules are defined
                    // on the right side
                    name: "required",
                    email: {
                        required: true,
                        email: true
                    },
                    pwd: {
                        required: true,
                        minlength: 6
                    }
                },
                // Specify validation error messages
                messages: {
                    name: "Por favor complete su nombre",
                    email: {
                        required: "Por favor complete su correo electronico",
                        email: "Ingrese un direccion valida.",

                    },
                    pwd: {
                        required: "Porfavor complete su contraseña",
                        minlength: "La contraseña debe de tener almenos 6 carecteres"
                    }
                },
                // Make sure the form is submitted to the destination defined
                // in the "action" attribute of the form when valid
                submitHandler: function (form) {
					   $.get("/Test/user/"+document.getElementById("name").value+"/"+document.getElementById("email").value+"/"+document.getElementById("pwd").value+"", function(data, status){
						        alert("Data: " + data + "\nStatus: " + status);
					    });

//                              swal({
//                                   title: "Registro Incorrecto",
//                                   text: "El correo que ingreso ya se encuentra registrado, favor de intentar con otro correo",
//                                   type: "warning",
//                                   showCancelButton: false,
//                                   confirmButtonClass: 'btn-info waves-effect waves-light',
//                                   confirmButtonText: 'OK'
//                               });

                }
            });
        });
    </script>


    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
    <script type="text/javascript">

// init Isotope
var $grid = $('.grid').isotope({
  itemSelector: '.element-item',
  layoutMode: 'fitRows'
});
// filter functions
var filterFns = {
  // show if number is greater than 50
  numberGreaterThan50: function() {
    var number = $(this).find('.number').text();
    return parseInt( number, 10 ) > 50;
  },
  // show if name ends with -ium
  ium: function() {
    var name = $(this).find('.name').text();
    return name.match( /ium$/ );
  }
};

function myFunction(obj)
{
  // get filter value from option value
  var filterValue = obj.value;
  // use filterFn if matches value
  filterValue = filterFns[ filterValue ] || filterValue;
  $grid.isotope({ filter: filterValue });
}

    </script>


    <script>
     var buyElements = [];

     function AgregarProducto(obj)
     {

     	var id=obj.id;
         var index = buyElements.indexOf(id);

         if (index != "-1") {

             for (var i = buyElements.length; i--;) {
                 if (buyElements[i] === id) {
                     buyElements.splice(i, 1);
                 }
             }
             obj.style.backgroundColor = "white";

         }
         else {
             buyElements.push(id);
             obj.style.backgroundColor = "#DBB575";

         }
         document.getElementById("spanContador").innerHTML = buyElements.length;
     }

     function Comprar()
     {
     	if (buyElements.length > 0)
     	{
     	    window.location = "Purchase.html";
	    }
	    else
	    {
             swal({
                   title: "Compra Incorrecta",
                   text: "Tienes que seleccionar almenos un elemento para comprar",
                   type: "error",
                   showCancelButton: false,
                   confirmButtonClass: 'btn-info waves-effect waves-light',
                   confirmButtonText: 'OK'
               });
	    }

     }

    </script>

    <script src="logController.js"></script>




</body>
</html>
