﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <link href="css/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>  
    
</head>
<body>
    <div class="main">
        <div class="container">
            <center>
                <div class="middle">
                    <div id="login">
                        <div id="loginApp" ng-app="finalApp">
                            <div id="phoneCategories" ng-controller="loginController">
                                <fieldset class="clearfix">
                                    <p><span class="fa fa-user"></span><input type="text" Placeholder="Username"  id="user" ng-model="finalApp.PostId" ></p> <!-- JS because of IE support; better: placeholder="Username" -->
                                    <p><span class="fa fa-lock"></span><input type="password" Placeholder="Password" id="pwd"  ng-model="finalApp.PostPwd" ></p> <!-- JS because of IE support; better: placeholder="Password" -->

                                    <div>
                                        
                                        <span style="width:50%; text-align:right;  display: inline-block;"><a href="" class="btn btn-info" ng-click="login(finalApp.PostId,finalApp.PostPwd)">Inicio de Sesion</a></span>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div> <!-- end login -->
                    <div class="logo">
                       <div class="clearfix">
                           <img src="images/50.png" style="width:90%" />
                       </div>
                    </div>

                </div>
                </center>
            </div>
        </div>
        <script src="loginController.js"></script>
             
</body>
</html>
