﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <style>
        div.main{
    background: #0264d6; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover,  #0264d6 1%, #1c2b5a 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(1%,#0264d6), color-stop(100%,#1c2b5a)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover,  #0264d6 1%,#1c2b5a 100%); /* IE10+ */
background: radial-gradient(ellipse at center,  #0264d6 1%,#1c2b5a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0264d6', endColorstr='#1c2b5a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
height:calc(100vh);
width:100%;
}

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */

* {
  box-sizing: border-box;
    margin:0px auto;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

body {
   
    color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
  color:white !important;  
}
        h1 {
            color:white !important;
        }
a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

p {
	line-height: 1.5em;
}

.clearfix {
  *zoom: 1;

  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }

}

.container {
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */

#login #loginApp{
	width: 250px;
}
#login, .logo{
    display:inline-block;
    width:40%;
}
#login{
border-right:1px solid #fff;
  padding: 0px 22px;
  width: 59%;
}
.logo{
color:#fff;
font-size:50px;
  line-height: 125px;
}

#login #loginApp span.fa {
	background-color: #fff;
	border-radius: 3px 0px 0px 3px;
	color: #000;
	display: block;
	float: left;
	height: 50px;
    font-size:24px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login #loginApp input {
	height: 50px;
}
fieldset{
    padding:0;
    border:0;
    margin: 0;

}


#login #loginApp input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  color: #eee;
  font-weight: bold;
  /* margin-bottom: 2em; */
  text-transform: uppercase;
  padding: 5px 10px;
  height: 30px;
}

#login #loginApp input[type="submit"]:hover {
	background-color: #d44179;
}

#login > p {
	text-align: center;
}

#login > p span {
	padding-left: 5px;
}
.middle {
  display: flex;
  width: 600px;
}
    </style>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.6.2/sweetalert2.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>  
    
</head>
<body>
    <div class="main">
        <div class="container">
            <center>
                <div class="middle">

                        <div id="loginApp" ng-app="registerApp">
                            <div id="phoneCategories" ng-controller="registerController">
                                <div class="container">
                                    <div  class="row">
                                        <div class="col-md-6 col-md-push-3">
                                            <h1>
                                                Registro
                                            </h1>
                                            <form ng-submit="submit()" ng-controller="registerController">
                                                <div class="col-md-12">
                                                        <label>
                                                            Nombre:
                                                        </label>
                                                        <input type="text" id="nombre"  ng-model="nombre" class="form-control" name="nombre" placeholder="Nombre" required/>  
                                                </div>
                                                <div class="col-md-12">
                                                    <label>
                                                        Correo:
                                                    </label>
                                                    <input type="email" id="correo" ng-model="correo" class="form-control" name="correo" placeholder="Correo Electronico" required />
                                                </div>
                                                <div class="col-md-12">
                                                    <label>
                                                        Contraseña:
                                                    </label>
                                                    <input type="password" ng-model="password"  class="form-control" id="pwd"  placeholder="Password">
                                                </div>
                                                <div class="col-md-12">
                                                    <input type="submit" id="btnSubmit" class="form-control" name="btnSubmit" style="margin-top:15px;" onclick="ValidarCorreo();" />
                                                </div>

                                            </form>
                                            
                                        </div>

                                    </div>
                                  

                                </div>
                                
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>

                </div>
                </center>
            </div>
        </div>
    <script src="registerController.js"></script>
             
</body>
</html>
